@font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

/* style for setting page the plugin */
.update-nag, .error, .notice-warning {
    display: none;
}


button.tiny, .button.tiny {
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
    font-size: 0.6875rem;
}


button, .button {
    cursor: pointer;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: .8rem;
    border-color: #0079a1;
    color: #fff;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-appearance: none;
    border: none;
    font-weight: normal !important;
}

/* input tag */
input[type="text"]{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #ccc;
    /*-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);*/
    /*box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);*/
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 46%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;*/
    /*-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;*/
    /*transition: box-shadow 0.45s,border-color 0.45s ease-in-out;*/
}

/* select tag */
input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 0 0 1rem 0;
}


.wp-admin select {
    height:  38px !important;
    line-height: 32px !important;
}


.label.alert {
    background-color: #f04124 !important;
    color: #fff;
}

.label {
    font-weight: normal;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: inherit;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.6875rem;
    background-color: #008cba;
    color: #fff;
}

.label.success {
    background-color: #43ac6a !important;
    color: #fff;
}

button.secondary, .button.secondary {
    background-color: #e7e7e7 !important;
    border-color: #dadada;
    color: #333;
}


/* style for class row */
div[data-schematype="object"],
div[data-schematype="object"] > div {
    float: left;
    width:  98%;
}

div[data-schematype="object"], div[data-schematype="object"] > div{
    position: relative;
    /*margin: 13px 5px;*/
    border: none !important;
}


div[data-schemaid="root"] {
    margin-bottom: 1.25rem;
}
div[data-schemaid="root"] > div { border: 0 !important;}


#editor_holder .row{
    margin: 12px 5px;
    width: 45%;
}
#editor_holder .row p,
#editor_holder_menu .row p{
    position: absolute;
    left: 0;
    bottom: -5px;
    font-size: 14px;
    color: rgba(0,0,0, .75);
    font-family: 'PoppinsLight';
}
#editor_holder_menu .row p {bottom: -20px !important}
div[data-schemapath="root.0.id"] {display: none !important}
#editor_holder div[data-schematype="object"] > div  div  div .row:nth-child(7),
#editor_holder  div[data-schematype="object"] > div  div  div .row:nth-child(8){
    width: 46%;
    float: left
}


#editor_holder div[data-schemapath="root.0.width"] p,
#editor_holder div[data-schemapath="root.0.height"] p,
#editor_holder div[data-schemapath="root.0.row"] p,
#editor_holder_menu div[data-schemapath="root.0.name"] p,
#editor_holder_menu div[data-schemapath="root.0.params.title"] p,
#editor_holder_menu div[data-schemapath="root.0.params.id"] p,
#editor_holder_menu div[data-schemapath="root.0.params.url"] p{
    bottom: -20px;
}


#editor_holder_menu div[data-schemapath="root.0.params"] .row{
    margin: 5px 0;
    float: left;
}
#editor_holder_menu div[data-schemapath="root.0.params"] > p,
#editor_holder_menu div[data-schemapath="root.1.params"] > p,
#editor_holder_menu div[data-schemapath="root.2.params"] > p,
#editor_holder_menu div[data-schemapath="root.3.params"] > p,
#editor_holder_menu div[data-schemapath="root.4.params"] > p,
#editor_holder_menu div[data-schemapath="root.5.params"] > p,
#editor_holder_menu div[data-schemapath="root.6.params"] > p,
#editor_holder_menu div[data-schemapath="root.7.params"] > p,
#editor_holder_menu div[data-schemapath="root.8.params"] > p{
    position: static;
}
#editor_holder_menu div[data-schemapath="root.0"] h3 div{ float: right !important ; margin-top: -10px}
#editor_holder_color .row p {margin-left: 15px !important}
#editor_holder_color .row {
    margin: 20px 0;
}
#editor_holder div[data-schemapath="root.0.row"],
#editor_holder div[data-schemapath="root.0.height"],
#editor_holder div[data-schemapath="root.0.paging"] {
    float: left;
    width: 100%;
}

#editor_holder_general .row {
    margin: 5px 0;
}




.json-editor-btn-add , .json-editor-btn-collapse,
button.json-editor-btn-delete, .json-editor-btn-moveup {
    color: rgba(51, 51, 51, .75);
    font-size: 14px;
    font-family: 'PoppinsRegular';
}
.json-editor-btn-collapse:focus{
    outline: 0;
}

button.json-editor-btn-add{
    background-color: rgba(0,0,0, .8);
    color: #FFF;
    margin-right: 15px;
    margin-top: 32px;
    -webkit-font-smoothing: antialiased;
    position: relative;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transition-property: transform,background,background-color,color,box-shadow;
}

button.json-editor-btn-add:hover:not(.btn--text) {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.7);
}

button.json-editor-btn-delete {
    color: rgba(187, 15, 15, .75);
    margin-left:  0;
    padding-left: 0;
    background-color: transparent;
}

.json-editor-btn-edit {
    display: none
}

.form-control{
    position: relative;
}





/* --- style for row --- */

div[data-schematype="object"] > div  div  div .row:nth-child(3) {
    width: 50%;
}
div[data-schematype="object"] > div  div  div .row:nth-child(3) p {
    bottom: -5px;
}

/* -- style for row type & cateID */
div[data-schematype="object"] > div  div  div .row:nth-child(5){
    width: 65%;
}

div[data-schematype="object"] > div  div  div .row:nth-child(4) p{
    bottom: -5px;
}


/* -- style for row width & height --- */

div[data-schematype="object"] > div  div  div .row:nth-child(6) p {
    bottom: -20px;
}



input[name='root[0][height]'] {
    width: 30%;
}




/* -- style for row paging & row --- */

div[data-schematype="object"] > div  div  div .row:nth-child(9) p {
    bottom: -5px;
}

div[data-schematype="object"] > div  div  div .row:last-child p{
    left: 0;
    bottom: -20px;
}

div[data-schemaid="root"] > h3 {
    display: none ;
}

div[id^='editor'] > div > h3 {display: none}

/* -- editor color --- */
#editor_holder_color div div div div .row:nth-child(7),
#editor_holder_general div div div div .row:last-child{
    width: 100% !important;
}

#editor_holder_color .row:nth-child(5){
    width: 75%;
}

#editor_holder_menu div[data-schemapath="root.0.params"] .row:last-child{
    width: 90%;
}


div[data-schemapath='root.0.params'] .row:nth-child(2){
    width: 100%;
}
input[name='root[0][params][url]'] {width: 52%}


/* --- Tabs --- */


.admin-panel {
    width: 100%;

    max-width: 98%;
    margin: 40px auto;
    background-color:#fff;
    position:relative;
}

.slidebar {
    width:10%;
    float: left;
    margin-top: 20px;
}
.slidebar ul {
    position:relative;
    height:100%;
}

.slidebar a{
    color: #bbb;
    text-decoration: none;
    text-transform: 'uppercase';
    font-size: 14px;
    font-family: 'PoppinsMedium';
}
.slidebar li{
    text-align:center;
    padding: 0;
}

.admin-panel ul {
    padding: 10px;
    margin:0;
}
.admin-panel li {
    list-style-type: none;
    margin: 0;
    position: relative;
    text-align:center;
}

.imageIcon{
    height: 30px;
    width: 30px;

}
.slidebar ul a {
    color:#000;
    text-decoration: none;
    box-sizing:border-box;
    display: block;
    text-transform: capitalize;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    outline: 0
}
.slidebar ul a:focus { box-shadow:  none }
.slidebar li#active{
    background: linear-gradient(to right top, #625EB1, #1D8FE1, #22E1FF);
    box-shadow: 0 5px 10px 0 rgba(0,0,0, .2);
    border-radius: 20px;
}
.slidebar li#active img{
    filter: invert(1) brightness(1);
}
.slidebar li#active a{
    color: #FFF;
}

#wpcontent{
    background-color: #FFF;
}

.slidebar li img{
    margin-bottom: 15px
}



.main {
    float: left;
    width: 80%;
    position: relative;
    margin: 0px 40px;
}

.main h2 {
    margin:1em 30px;
    color:#17BCE8;
    font-size: 20px;
    font-weight:600;
    border-bottom: 1px solid #bbb;
    padding: 0px 0px 20px 0px;
}

/* -- block result --- */
.block_result {
    width: 100%;
    margin:10px;
    float: left;
}
.block_textarea{
    width: 100%;
    height: 200px;
    border-radius: 3px;
}
.block_result > b{
    font-family: 'PoppinsRegular';
    color: rgba(51, 51, 51, .75);
    margin-bottom: 15px;
    float: left;
}
.textIntroAdvance {
    font-family: 'PoppinsRegular';
    color: rgba(51, 51, 51, .75);
    font-size: 16px;
    line-height: 20px;
    margin: 10px;
}


div[id^='editor']{
    margin-left: 30px;
}

/* --- onChange ---*/

.show { display: block !important; }

/* -- style for description -- */
div[data-schemapath="root.0.route"] p, div[data-schemapath="root.logo"] p,
div[data-schemapath="root.toolbar"] p, div[data-schemapath="root.tabbar"] p,
div[data-schemapath="root.tabbarTint"] p, div[data-schemapath="root.Facebook.logInID"] p ,
div[data-schemapath="root.mainColorTheme"] p{
    bottom: -17px !important;
}




div[data-schemapath='root.0'], div[data-schemapath='root.1'],
div[data-schemapath='root.2'], div[data-schemapath='root.3'],
div[data-schemapath='root.4'], div[data-schemapath='root.5'],
div[data-schemapath='root.6'], div[data-schemapath='root.7'],
#editor_holder_color div[data-schemapath='root'],
#editor_holder_general div[data-schemapath='root'],
#advance .wrap #results{
    margin-top: 20px !important;
    background-color: #FAFAFA;
    border: solid 1px #F1F1F1;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.2) ;
    padding: 0 40px;
}

#advance .wrap #results {
    width: 100%;
    float: left;
    min-height: 800px;
    padding: 30px 25px;
}
/*for homepage*/
div[data-schemapath="root.0"] > h3 > span, div[data-schemapath="root.1"] > h3 > span,
div[data-schemapath="root.2"] > h3 > span, div[data-schemapath="root.3"] > h3 > span,
div[data-schemapath="root.4"] > h3 > span, div[data-schemapath="root.5"] > h3 > span,
div[data-schemapath="root.6"] > h3 > span, div[data-schemapath="root.7"] > h3 > span{
    color: rgba(51, 51, 51, 0.75);
    font-size: 18px;
    font-family: 'PoppinsRegular';
    float: left;
    width: 50%;
    margin-top: 18px;
}




label {
    color: rgba(0, 0, 0, .75);
    font-family: 'PoppinsRegular';
    font-size: 16px;
    margin-bottom: 12px !important;
}

select[name='root[0][component]']{
    width: 200px ;
}

input[name='root[0][name]'], select[name='root[0][typeId]']{
    width: 50% !important
}



/* --- button save All --- */

#save{
    position: absolute;
    right: -32px;
    z-index: 9999;
    top: -27px;
    background: linear-gradient(to right top, #FF0066, #D41872, #A445B2);
    font-family: 'PoppinsRegular';
    font-size: 16px;
    color: #FFF;
    padding: 8px 40px;
    box-shadow: 0 5px 20px rgba(0,0,0,.5);
}

#reset{
    position: absolute;
    right: 120px;
    z-index: 9999;
    top: -27px;
    background: linear-gradient(to right top, #333, #000);
    font-family: 'PoppinsRegular';
    font-size: 16px;
    color: #FFF;
    padding: 8px 40px;
    box-shadow: 0 5px 20px rgba(0,0,0,.5);
}

#head-full{
    margin-left: 15px;
    margin-top: 60px;
}




/* --- template home config layout --- */

#editor_holder div[data-schemapath="root"]  > h3 {
    display: none !important;
    margin-left: 40px;
}


/*#editor_template div[data-schemapath="root.verticalLayout"]{
    display: none;
}*/